@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: black;
}

* {
    padding: 0;
    margin: 0;
}


.main {
    background-image: url(bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
    background-color: black;

}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 112px;
    position: relative;
    z-index: 1;
}

nav button {
    z-index: 1;
    background-color: red;

}

.hero {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    /* font-weight: bold; */
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 30px;

    position: relative;
}

.hero> :first-child {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-weight: 600;
    font-size: 23px;
    text-align: center;
}

.hero :nth-child(3) {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}