@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: black;
}

* {
    padding: 0;
    margin: 0;
}


.main {
    background-image: url(bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.64;
    position: absolute;
    top: 0;
    background-color: black;

}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 112px;
    position: relative;
    z-index: 1;
}

nav button {
    position: relative;
    z-index: 10;
    /* background-color: red; */

}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    /* font-weight: bold; */
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding:0 30px;

    position: relative;
}

.hero> :first-child {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-weight: 600;
    font-size: 23px;
    text-align: center;
}

.hero :nth-child(3) {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.separation{
    background-color: gray;
    height: 7px;

}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}
.btn-red-sm{
    background-color: red;
    color: white;
    border-radius: 3px;

}
.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    border-radius: 4px;

}
.main input{
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    color: white;
    padding: 3px 24px;
    border-radius: 4px;
    background-color: rgba(23,23, 23,0.7);

}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color:white;
    /* flex-wrap: wrap; */

}
@media  screen and (max-width:1300px) {
    /* body{
        background-color: red;
    } */
    .first{
        flex-wrap: wrap;
    }


    
}
.secImg{
    position:relative;

}
.secImg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top: 51px;
    right:0 ;
}
section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
.first>div:nth-child(1){
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
}
.first>div:nth-child(2){
    display: flex;
    font-size: 20px;
    font-weight: bold;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color:white;
    flex-wrap: wrap;

}
.im img{
    width: 30vw;
    position: relative;
    z-index: 10;
}
.second>div:nth-child(1){
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
}
.second>div:nth-child(2){
    display: flex;
    font-size: 20px;
    font-weight: bold;
}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color:white;

}
.secImg{
    position:relative;

}
.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top: 51px;
    right:0 ;
     width: 555px;

}
section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
.third>div:nth-child(1){
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
}
.third>div:nth-child(2){
    display: flex;
    font-size: 20px;
    font-weight: bold;
}
.faqbox{
    transition: all 1s ease-out;
    justify-content: space-between;
    display: flex;
    background-color: grey;
    padding: 24px;
    margin:34px auto;
    cursor: pointer;

}
.faqbox:hover{
    
    background-color: rgb(37,36,36);

}
.faqbox svg{
    filter: invert(1);
}
footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}
@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}


